.PlayerList {
  padding: 0.5rem;
}

.PlayerEntryHolder:not(:first-child) {
  margin-top: 0.5rem;
}

.PlayerHeaderScroll {
  height: 100px;
  width: 35rem;
}

.PlayerHeader {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  transition-property: height;
  transition-duration: 0.5s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: 2;
}

.PlayerName {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 18%;
  max-width: 27rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 3rem;
  font-family: 'Edwardian Script ITC', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.PlayerLevel {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 10%;
  right: 5%;
  font-size: 1.35rem;
  color: rgb(133, 21, 19);
  font-weight: bold;
}

.PlayerRace {
  position: absolute;
  top: 69%;
  left: 17.5%;
  font-size: 1.2rem;
  font-style: italic;
  transform: rotate(-4deg);
  transform-origin: top left;
}

.PlayerClass {
  position: absolute;
  right: 2.5%;
  top: 60%;
  font-size: 1.2rem;
  font-style: italic;
  transform: rotate(4deg);
  transform-origin: bottom right;
}

.PlayerBody {
  position: relative;
  margin: 0 auto;
  width: 30rem;
  box-sizing: border-box;
  z-index: 1;
  transform: scaleY(0);
  max-height: 2rem;
}

.PlayerBody-Expanded {
  height: auto;
  transform: scaleY(1);
  max-height: 40rem;
  transition-property: transform, max-height;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-in-out, ease-in;
  transform-origin: top;
}

.PlayerBodyScroll {
  margin-top: -2rem;
  padding: 2rem 0 0.5rem;
  border: 3px solid rgb(255, 239, 190);
  background-color: rgb(253, 244, 218);
  box-sizing: border-box;
}

.PlayerTableLeft {
  width: 65%;
  vertical-align: top;
}

.PlayerTableRight {
  width: 35%;
  vertical-align: top;
  overflow-x: visible;
}

.PlayerDetails {
  white-space: pre-wrap;
  word-break: break-all;
  background-color: rgb(255, 239, 190);
  border-radius: 10px;
  border-color: rgb(238, 220, 168);
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  width: 100%;
  min-height: 1rem;
  max-height: 34rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.PlayerDetails::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.PlayerNotes {
  padding: 0.25rem;
}

.PlayerItems {
  margin-bottom: 0.25rem;
}

.PlayerAddItemHolder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.25rem 0.25rem 0.25rem 0.125rem;
}

.PlayerAddItem {
  width: 75%;
  box-sizing: border-box;
  height: 1.5rem;
  font-size: 1rem;
  background-color: rgb(255, 239, 190);
  border-color: rgb(238, 220, 168);
}
.PlayerModifyButton {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 5%;
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgb(255, 239, 190);
  border-color: rgb(238, 220, 168);
}

.PlayerItemEntry {
  background-color: rgb(255, 239, 190);
  padding: 0.125rem 0.25rem;
  border-radius: 0.5rem;
  padding-right: calc(1.5rem + 0.25rem);
  position: relative;
}
.PlayerItemEntry:not(:first-child) {
  border-top: 1px solid rgb(238, 220, 168);
  /* border-top-left-radius: 0rem; */
  /* border-top-right-radius: 0rem; */
}
.PlayerItemEntry:not(:last-child) {
  border-bottom: 1px solid rgb(238, 220, 168);
  /* border-bottom-left-radius: 0rem; */
  /* border-bottom-right-radius: 0rem; */
}

.PlayerItemDeleteButtonHolder {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.PlayerItemDeleteButton {
  position: absolute;
  right: 0.125rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 239, 190);
}

.PlayerItemDeleteButton:hover::before, .PlayerItemDeleteButton:focus::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0px;
  height: 0.5rem;
  border: 1px solid rgb(177, 155, 89);
  transform: translate(-50%, -50%) rotate(45deg);
}
.PlayerItemDeleteButton:hover::after, .PlayerItemDeleteButton:focus::after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.5rem;
  height: 0px;
  border: 1px solid rgb(177, 155, 89);
  transform: translate(-50%, -50%) rotate(45deg);
}

.PlayerItemDeleteButtonConfirm:hover::before, .PlayerItemDeleteButtonConfirm:focus::before {
  height: 0.5rem;
  transform: translate(0.05rem, -55%) rotate(45deg);
}

.PlayerItemDeleteButtonConfirm:hover::after,     .PlayerItemDeleteButtonConfirm:focus::after {
  width: 0.25rem;
  transform: translate(-100%, 0.03rem) rotate(45deg);
}