.PlayerList {
  padding: 0.5rem;
}

.PlayerEntryHolder:not(:first-child) {
  margin-top: 0.5rem;
}

.PlayerHeaderScroll {
  height: 100px;
  width: 35rem;
}

.PlayerHeader {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  transition-property: height;
  transition-duration: 0.5s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: 2;
}

.PlayerName {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 18%;
  max-width: 27rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 3rem;
  font-family: 'Edwardian Script ITC', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.PlayerLevel {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 10%;
  right: 5%;
  font-size: 1.35rem;
  color: rgb(133, 21, 19);
  font-weight: bold;
}

.PlayerRace {
  position: absolute;
  top: 69%;
  left: 17.5%;
  font-size: 1.2rem;
  font-style: italic;
  transform: rotate(-4deg);
  transform-origin: top left;
}

.PlayerClass {
  position: absolute;
  right: 2.5%;
  top: 60%;
  font-size: 1.2rem;
  font-style: italic;
  transform: rotate(4deg);
  transform-origin: bottom right;
}

.PlayerBody {
  position: relative;
  margin: 0 auto;
  width: 30rem;
  box-sizing: border-box;
  z-index: 1;
  transform: scaleY(0);
  max-height: 2rem;
}

.PlayerBody-Expanded {
  height: auto;
  transform: scaleY(1);
  max-height: 40rem;
  transition-property: transform, max-height;
  transition-duration: 0.5s, 2s;
  transition-timing-function: ease-out;
  transform-origin: top;
}

.PlayerBodyScroll {
  margin-top: -2rem;
  padding: 2rem 1rem 0.5rem;
  border: 3px solid rgb(255, 239, 190);
  background-color: rgb(253, 244, 218);
  box-sizing: border-box;
}

.PlayerTableLeft {
  width: 70%;
  vertical-align: top;
}

.PlayerTableRight {
  width: 30%;
  padding-left: 3%;
  vertical-align: top;
}
.PlayerDetails {
  white-space: pre-wrap;
  background-color: rgb(255, 239, 190);
  border-radius: 10px;
  border-color: rgb(238, 220, 168);
  border-style: solid;
  border-width: 2px;
  width: 100%;
  min-height: 1rem;
}

.PlayerAddItem {
  width: 70%;
  font-size: 1rem;
  margin-top: 4%;
  background-color: rgb(255, 239, 190);
  border-color: rgb(238, 220, 168);
}
.PlayerModifyButton {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 5%;
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgb(255, 239, 190);
  border-color: rgb(238, 220, 168);
}

.PlayerItemEntry {
  background-color: rgb(255, 239, 190);
  border-color: rgb(238, 220, 168);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 2%;
}
