.PlayerList {
  padding: 0.5rem;
}

.PlayerEntryHolder:not(:first-child) {
  margin-top: 0.5rem;
}

.PlayerHeaderScroll {
  height: 100px;
  width: 35rem;
}

.PlayerHeader {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  transition-property: height;
  transition-duration: 0.5s;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.PlayerName {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 18%;
  max-width: 27rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 3rem;
  font-family: 'Edwardian Script ITC', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.PlayerLevel {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 10%;
  right: 5%;
  font-size: 1.35rem;
  color: rgb(133, 21, 19);
  font-weight: bold;
}

.PlayerRace {
  position: absolute;
  top: 69%;
  left: 17.5%;
  font-size: 1.2rem;
  font-style: italic;
  transform: rotate(-4deg);
  transform-origin: top left;
}

.PlayerClass {
  position: absolute;
  right: 2.5%;
  top: 60%;
  font-size: 1.2rem;
  font-style: italic;
  transform: rotate(4deg);
  transform-origin: bottom right;
}

.PlayerBody {
  position: relative;
  z-index: -1;
  transform: scaleY(0);
  max-height: 2rem;
}

.PlayerBody-Expanded {
  height: auto;
  transform: scaleY(1);
  max-height: 40rem;
  transition-property: transform, max-height;
  transition-duration: 0.5s, 2s;
  transition-timing-function: ease-out;
  transform-origin: top;
}


.PlayerBodyScroll {
  width: 30rem;
  margin: 0 auto;
  margin-top: -2rem;
  border: 3px solid rgb(255, 239, 190);
  background-color: rgb(253, 244, 218);
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 2rem;
}

.PlayerDetails {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: calc(100% + 2rem);
}

.PlayerDetailsDescription {
  width: 72.5%;
}

.PlayerDetailsItems {
  width: 22.5%;
}
