.ModalHolder {
  position: relative;
  height: 100%;
  width: 100%;
}

.Modal {
  position: absolute;
  z-index: 50;
  box-sizing: border-box;
  width: 8rem;
  background-color: rgb(255, 239, 190);
  border: 2px solid rgb(238, 220, 168);
  border-radius: 10px;
  padding: 0.25rem;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
}
