*{
  margin: 0;
  padding: 0;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
}

.Navbar {
  width: 4rem;
  float: left;
  padding: 0.5rem;
  margin: 0 0 0 0;
  background: #9f9f9f;
  text-align: center;
  border-radius: 10px;
  border: 2px;
  border-style: solid;
  border-color: #3f3f3f;
}

.NavbarButtonDiv {
  width: 100%;
  position: relative;
}

.NavbarButton {
  height: 4rem;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.NavbarButton-Collapsed {
  width: 4rem;
}

.NavbarButton-Expanded {
  width: fit-content;
  padding-right: 0.5rem;
}

.NavbarButton span {
  position: relative;
  font-size: 2.5rem;
  pointer-events: none;
  padding-left: 0.5rem;
}

.NavbarButton img {
  padding-left: 0.1rem;
  pointer-events: none;
  position: relative;
}

.NavbarButton-Expanded img {
  width: 3.8rem;
  height: 3.8rem;
}

.NavbarButton-Collapsed img {
  width: 3.5rem;
  height: 3.5rem;
}